:root {

 background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%238370FF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
      --azul-osc:#f3f70f;    /* hover */
      --amarillo:#fbff00;    /* acentos */
      --texto:#1b1f2a;
    } 
    *{box-sizing:border-box}
    html,body{margin:0;height:100%;background:var(--bg);color:var(--texto);font-family:Inter,system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif}
    a{color:inherit;text-decoration:none}
   

    /* Barra superior */
    topbar{
      background:var(--azul);
      color:#1a241b;
      position:sticky; top:0; z-index:50;
      border-bottom:4px solid var(--amarillo);

      /*borde del azul*/
    }
    .container{max-width:1210px;margin:0 auto;padding:0 0px}
    .nav{
      display:flex;align-items:center;justify-content:space-between;
      height:64px;
    }
    .brand{
      display:flex;gap:.75rem;align-items:center;font-weight:800;letter-spacing:.2px
    }
    .brand__mark{
      width:36px;height:36px;border-radius:9px;background:linear-gradient(135deg,var(--amarillo),#0ee93d 70%);
      display:grid;place-items:center;color:var(--azul);font-weight:900
    }
    .menu{display:flex;gap:1.25rem}
    .menu a{opacity:.95}
    .menu a:hover{opacity:1;text-decoration:underline}
    .cta{
      background:var(--amarillo);color:#111;font-weight:700;padding:.6rem 1rem;border-radius:.6rem;
      box-shadow:0 2px 0 rgba(25, 199, 91, 0.884)
    }
    .cta:hover{filter:brightness(.95)}
    /* Hero */
    .hero{
      background:#1205c4;
      border-radius:16px;
      margin:28px auto;
      box-shadow:0 10px 20px rgba(74, 74, 82, 0.06);
      overflow:hidden;
    }
    .hero-grid{
      display:grid;
      grid-template-columns: 1.1fr 1fr;
      gap:0;
      min-height:420px;
    }
    .hero__copy{
      padding:48px 48px 40px 48px;
    }
    .kicker{
      display:inline-block;background:var(--amarillo);color:#111;
      font-weight:800;border-radius:999px;padding:.25rem .7rem;margin-bottom:16px
    }
    h1{
      font-family:Merriweather,serif;
      font-size: clamp(32px, 3.2vw, 44px);
      line-height:1.05;margin:0 0 16px 0;color:var(--azul)
    }
    .lead{max-width:60ch;opacity:.9;margin-bottom:22px}
    .actions{display:flex;gap:12px;flex-wrap:wrap}
    .btn{
      border:2px solid var(--azul);color:#63bb10;background:var(--azul);
      padding:.8rem 1.1rem;border-radius:16px;font-weight:700
    }
    .btn.secondary{
      background:transparent;color:var(--azul)
    }
    .hero__media{  
      position:relative;background:linear-gradient(180deg,#4aa4ee, #fff);
    display:grid;place-items:center;padding:30px
    }
    .photo{
      width:100%;max-width:560px;aspect-ratio:16/10;object-fit:cover;border-radius:16px;
      border:6px solid #e5f320;box-shadow:0 10px 30px rgba(36, 36, 35, 0.678)
     }



 /* Botón especial "Inscripciones" */
.menu a.cta {
  background: linear-gradient(90deg, #ff4747, #fc0202);
  color: #fbfbfc;
  padding: 8px 16px;
  border-radius: 999px;
  font-weight: 700;
  box-shadow: 0 8px 20px rgba(8, 118, 208, 0.12);
  text-decoration: none;
}
/* NAV */
  .nav{
    position:fixed;
    top:18px;
    left:50%;
    transform:translateX(-50%);
    width:92%;
    max-width:1200px;
    z-index:40;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:16px;
    padding:12px 18px;
    border-radius:12px;
    background:linear-gradient(90deg, rgba(8, 6, 126, 0.959), rgba(63, 8, 190, 0.993));
    backdrop-filter: blur(6px) saturate(120%);
    box-shadow: 0 6px 30px rgba(3, 20, 255, 0.6);
  }
  .brand{
    display:flex;align-items:center;gap:12px;
  }
  .logo{
    width:52px;height:52px;border-radius:12px;
    background:linear-gradient(135deg,var(--accent),var(--accent-2));
    display:flex;align-items:center;justify-content:center;
    font-weight:800;color:#2414b8;font-size:20px;
    box-shadow: 0 6px 18px rgba(0, 255, 221, 0.767);
  }
  .brand h1{font-size:18px;margin:0;letter-spacing:-0.3px}
  .brand p{font-size:12px;margin:0;color:var(--muted)}
  .menu{
    display:flex;gap:18px;align-items:center;
  }
  .menu a{
    color:var(--text);text-decoration:none;font-weight:600;padding:6px 8px;border-radius:8px;
    transition:all .22s ease;
    position:relative;
  }
  .menu a:hover, .menu a:focus{transform:translateY(-3px); color:var(--accent)}
  .cta{
    background:linear-gradient(90deg,var(--accent),var(--accent-2));
    color:#141825;padding:8px 16px;border-radius:999px;font-weight:700;
    box-shadow:0 8px 20px rgba(8, 118, 208, 0.12);
    text-decoration:none;margin-left:6px;
  }

  /* Mobile menu button */
  .burger{display:none; background:transparent;border:0;color:var(--text);font-size:22px;cursor:pointer}
  
  /* HERO CONTENT */
  .hero-content{
    position:relative;
    z-index:10;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    padding:120px 24px 80px;
    gap:18px;
  }
  .eyebrow{
    background:var(--glass);
    padding:8px 14px;border-radius:999px;font-weight:700;color:var(--muted);
    box-shadow:0 6px 20px rgba(65, 255, 7, 0.45);
  }
  h2.title{
    font-size: clamp(28px, 4.5vw, 62px);
    line-height:1.02;
    margin:0;
    letter-spacing:-1px;
    font-weight:800;
    text-shadow:0 8px 30px rgba(9, 247, 255, 0.6);
  }
  p.lead{
    color:var(--muted);max-width:880px;font-size:1.05rem;margin:0;
  }

  .hero-actions{display:flex;gap:14px;margin-top:6px;flex-wrap:wrap;justify-content:center}
  .btn-ghost{
    background:transparent;border:1px solid rgba(255, 255, 255, 0.911);padding:10px 16px;border-radius:12px;color:var(--text);text-decoration:none;font-weight:700;
  }
  .btn-primary{
    background:linear-gradient(90deg,var(--accent),var(--accent-2));padding:12px 22px;border-radius:12px;color:#08101a;font-weight:800;text-decoration:none;
    box-shadow:0 12px 40px #17181ddc;
  }
 
 

/* ==== Estilos Generales ==== */
    

/* Animación del fondo */
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* ==== Encabezado ==== */

header {
    text-align: center;
    padding: 2rem;
    color: rgba(255, 255, 255, 0.993);
  
}
header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  animation: fadeIn 1.5s ease-in-out;
}

/* Animación de aparición suave */
@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(-30px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}
    /*letras de los valores, mision y vision*/  
header p {
    font-size: 1.2rem;
}
/* ======== Estilos generales ======== */ 
.encabezado {
    font-family: "Segoe UI", Tahoma, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #0A095F;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%230a0a87' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%230a0db0' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23080fdb' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23101cfb' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%233542FF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%231a28f9' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%230c19e6' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23101ac1' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23121a9e' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%2312187D' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    color: #fff;
    text-align: center;
}
/* Encabezado */
.encabezado {
    padding: 40px 20px;
    animation: fadeInDown 1.5s ease;
}

/*letras del titulo */

.encabezado h1 {
    font-size: 2.1em;
    margin-bottom: 10px;
}

.descripcion {
    font-size: 1.5em;
    opacity: 0.5;
}

/* ======== Contenedor de tarjetas ======== */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
}

/* Tarjetas individuales */
.card {
    background:linear-gradient(180deg,#5076f3, #fff);
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 5px 3px rgba(0,0,0,0.2);
    transition: transform 0.4s, box-shadow 0.4s;
    animation: fadeInUp 1.5s ease;
}

/* Títulos dentro de tarjetas */
.card h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #02172b;
}

/* Efecto hover en tarjetas */
.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

/* Lista en Valores */
.card ul {
    list-style: none;
    padding: 0;
    /*color de titulo*/
}
.card li {
    padding: 5px 0;
    font-weight: bold;
}

/* ======== Animaciones ======== */
@keyframes fadeInDown {
    from {opacity: 0; transform: translateY(-50px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes fadeInUp {
    from {opacity: 0; transform: translateY(50px);}
    to {opacity: 1; transform: translateY(0);}
}
/* Descripción con fondo */
.descripcion {
    font-size: 1.2em;
    opacity: 0.95;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    animation: fadeIn 2s ease;
}

/* Animación suave */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
